<div class="left-bar">
    <div class="title">
        <h1>Task Tracker</h1>
    </div>
    <div>
        <hr>
    </div>
    <div class="navigations">
        <div id="navig">
            <span>Мои Задачи <i class="bi bi-dot"></i></span>
        </div>
        <div id="navig">
            <span>Создать Задачу <i class="bi bi-dot"></i></span>
        </div>
    </div>
</div>
<div class="container">
    <div class="req">
        <div id="inputs">
            <form [formGroup]="taskForm">
                <input type="text" placeholder="Наименование задачи *" formControlName="title">
                <select name="status" formControlName="status">
                    <option [value]="null">Выберуите статус</option>
                    <option [value]="Status[name]" *ngFor="let name of enumKeys">{{Status[name]}}</option>
                </select>
                <input type="text" placeholder="Email коллабаратора" formControlName="collabs">
                <button (click)="createTask()">Создать</button>
            </form>
        </div>
    </div>
</div>